@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  height: 160px;
  align-items: center;
  border-bottom: 5px solid #005a84;
  border-top: 5px solid #005a84;
}

.logo_container {
  display: flex;
  justify-content: center;
  width: 25%; /* Ajusta el ancho del contenedor */
  max-width: 600px; /* Ajusta el ancho máximo del contenedor */
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
  text-align: center;
}

.logo_container img {
  max-width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

nav {
  width: 100%;
  font-family: "Hammersmith One";
  font-weight: 500;
  font-size: 35px;
  padding: 0 60px;
}

.nav_list {
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li a {
  color: #005a84;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #c1dfed;
}

body {
  background-color: #649ab4;
  display: flex;
  flex-direction: column;
  height: 100vh; /* A1ltura completa de la ventana */
  align-content: center; /* Centra verticalmente */
}

.container {
  padding: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 10px;
  background-color: #c1dfed;
  width: 120vh;
  height: auto;
  border: 1.5px solid beige;
  border-bottom: 0px;
}

.card {
  padding: 2.5%;
  font-family: "Source Sans Pro";
  font-size: 18px;
  width: 80%;
  text-align: justify;
  border-radius: 8px;
  background-color: #a5cfe1;
}

h1,
h2,
h3,
h5 {
  color: #005a84;
}

footer {
  padding: 8px 2vw;
  color: beige;
  background-color: #649ab4;
  font-family: "Hammersmith One";
  text-align: center;
  border-top: 1.5px solid beige;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  line-height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
