@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #649ab4;
  display: flex;
  flex-direction: column;
  height: 100vh; /* A1ltura completa de la ventana */
  align-content: center; /* Centra verticalmente */
}

.container {
  padding: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 10px;
  background-color: #c1dfed;
  width: 100vh;
  height: auto;
  border: 1.5px solid beige;
  border-bottom: 0px;
}

.card {
  padding: 2.5%;
  font-family: "Source Sans Pro";
  font-size: 18px;
  width: 80%;
  text-align: justify;
  border-radius: 4px;
  background-color: #a5cfe1;
}

head {
  background-size: auto;
}

h1,
h2,
h3,
h5 {
  color: #005a84;
}

footer {
  padding: 8px 2vw;
  color: beige;
  background-color: #649ab4;
  font-family: "Hammersmith One";
  text-align: center;
  border-top: 1.5px solid beige;
}

ul {
  list-style-type: none;
  line-height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
